* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1140px;
  height: 151px;
  margin: auto;
}
/* upper part style */

header {
  background-image: url(/Assets/Hero-bg.png);
  height: 698px;
  width: 1440px;
}

/* nav style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  color: #4e47ff;
  max-width: 1140px;
  height: 151px;
}

nav button {
  height: 48px;
  width: 132px;
  background-color: #4e47ff;
  color: #ffffff;
  border-radius: 10px;
}
nav h1 {
  width: 99px;
  height: 51px;
  font-weight: bolder;
  font-size: 40px;
}

/* banner style */

.banner {
  height: 237px;
  width: 905px;
  justify-content: center;
  padding: 150px 250px 150px 250px;
}

.banner h1 {
  font-size: 65px;
  font-weight: bolder;
  color: black;
  width: 905px;
  height: 152px;
  text-align: center;
}
.banner button {
  height: 48px;
  width: 174px;
  gap: 16px;
  background-color: #4e47ff;
  color: #ffffff;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
